---
import A from '@components/base/A.astro';
import PageTitle from '@components/base/PageTitle.astro';
import Layout from '@layouts/Layout.astro';

import { getCollection } from 'astro:content';

export const prerender = true
const allThoughts = await getCollection('thoughts');
---

<Layout title="Thought garden">
	<main>
        <section>
            <h1><PageTitle maxWidth={9}>Thought garden</PageTitle></h1>
            <p>
                Welcome to my Thought Garden. The idea here is to cultivate a Digital Garden - a concept that I discovered in
                <A href="https://maggieappleton.com/garden-history">this explainer piece</A> a little while back. I came to really 
                appreciate the intentional mutability and unfinished nature of a garden. I have, in the past, struggled with the 
                sort of finality inherent with a "Blog" and, upon reading about the digital garden, it felt right to include the ideas
                here within Designward. We aren't finished people. We are always growing and learning. I want Designward to be that way too.
            </p>
            <p>
                That said, my garden is pretty scarce right now. You can check out what's below or <A href="/">return home</A>.
                Stop back in the future though. It will be more built out. It may even be thriving!
            </p>
        </section>
        <section>
            <h2>Current state of the garden</h2>
            <ul>
                {allThoughts.map(thought => (
                    <li>
                        <h4>{thought.data.title}</h4>
                        {thought.data?.tagline && <p class="tag small">{thought.data.tagline}</p>}
                        <a class="arrow" href={`${thought.id}`}>Read it</a>
                    </li>
                ))}
            </ul>
        </section>
    </main>
</Layout> 

<style>
    main {
        display: flex;
        flex-direction: column;
        gap: 30px;

        padding-bottom: 100px;
    }
    section {
        gap: 1em;
    }

    .tag {
        max-width: 30em;
        text-wrap: pretty;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>