---
interface Props {
  class?: string;
  style?: string;
  tag?: 'div' | 'section';
}

const { class: className, style, tag } = Astro.props;

const Element = tag ?? 'div';
---

<Element class={`dialog ${className}`} style={style}>
    <div>
        <slot/>
    </div>
</Element>

<style>
    .dialog {
        width: 100%;
        background-color: var(--color-primary);
        border-radius: 1rem;
        padding: 3px;
        
        &>div {
            background-color: var(--color-background);
            padding: 40px;
            border-radius: calc(1rem - 3px);
            margin-bottom: 6px;

            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
</style>