---
import '@assets/styles/reset.css';
import '@assets/styles/utility.css';
import '@assets/styles/global.css';

import Head from '@components/base/infra/Head.astro';
import TheFooter from '@components/layout-components/TheFooter.astro';

import TheHeader from '@components/layout-components/TheHeader.svelte';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script>
	const NO_MOTION_KEY = 'reduce-motion';
	const MODE_KEY = 'mode';

	const motionVal = localStorage.getItem(NO_MOTION_KEY);
	if (motionVal != null) {
		const reduceMotion = motionVal === 'true';
		document.querySelector('html')?.classList.toggle(NO_MOTION_KEY, reduceMotion);
	}

	const modeVal = localStorage.getItem(MODE_KEY);
	if (modeVal != null) {
		const lightMode = modeVal === 'light';
		const modeClass = lightMode ? 'light' : 'dark'
		document.querySelector('html')?.classList.toggle(modeClass, lightMode);
	}

</script>

<!doctype html>
<html lang="en">
	<Head {title} />
	<body>
		<TheHeader client:load />
		<slot />
		<TheFooter />
	</body>
</html>

<style>
	body {
		margin: 0;
		background-color: var(--color-background);

		main {
			min-height: 100vh;
		}
	}
</style>