---
import ContentLayout from "./ContentLayout.astro";
import ContentImage from "@components/content-components/ContentImage.astro";

const { data } = Astro.props;
---

<ContentLayout pageTitle={data.name}>
    <hgroup class="intro" slot="intro">
        <h1>{data.name}</h1>
        <h5 class="tagline">{data.tagline}</h5>
    </hgroup>
    <div class="wrapper" slot="content">
        {data.image && 
            <div class="hero">
                <ContentImage src={data.image.src} alt={data.image.alt ?? data.name} />
            </div>
        }
        <slot />
    </div>
    <a slot="back" class="arrow" href="/portfolio/" data-astro-prefetch>Back to my portfolio</a>
</ContentLayout>

<style lang="scss">
    hgroup.intro {
        .tagline {
            margin-bottom: 0.25em;
        }
        .tag {
            font-size: 0.8em;
            font-weight: 300;
            text-transform: lowercase;
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .hero {
        width: 100%;
        max-width: calc(100vw - (2 * var(--padding-edge, 1rem)));
    }
</style>