---
import Layout from '@layouts/Layout.astro';
---

<Layout title="I'm Chris">
	<main>
        <section>
            <h1>About Chris</h1>
            <p>Hi I'm Chris. This page is under construction.</p>
            <a href="/" class="arrow">Back to home</a>
        </section>
    </main>
</Layout> 