---
import A from '@components/base/A.astro';
import PageTitle from '@components/base/PageTitle.astro';
import Layout from '@layouts/Layout.astro';
---

<script>
	const definitionSection = document.querySelector('.definition');
	const observer = new IntersectionObserver((e: IntersectionObserverEntry[]) => {
		const definitionEntry = e[0];
		if (!definitionEntry.isIntersecting) {
			definitionEntry.target.classList.add('short-delay');
		} else {
			definitionSection?.classList.remove('hide');
			observer.unobserve(definitionEntry.target);
			observer.disconnect();
		}
	}, {
		threshold: 0.1,
	})
	
	if (definitionSection) {
		observer.observe(definitionSection);
	}
</script>

<Layout title="Welcome to DesignWard.">
	<main>
		<!-- hero section -->
		<section class="headline">
			<h1 class="hero">
				<span class="nowrap">Hi, welcome to </span>
				<PageTitle>DesignWard</PageTitle>
			</h1>
		</section>
		<section class="hero">
			<p class="style-h3">
				I’m Chris, a Chicago-based 
				<A href="/garden/design-engineering-question-mark#am-i-a-designer">Designer</A> and 
				<A href="/garden/design-engineering-question-mark#am-i-an-engineer">Frontend Engineer.</A> 
				Here you’ll find a portfolio of past projects 
				and a set of <A href="/garden">WIP thoughts</A> on creative technology.
			</p>
			<p class="style-h4">
				I was previously employed as a <A href="/garden/whats-a-dt">Design Technologist</A> at Square 
				where I use my <A href="/garden/architecture-and-the-web">design background</A> to 
				help bridge the gap between digital experience and technical implementation.
			</p>
			<div class="links">
				<a href="/portfolio" class="arrow">To the porfolio</a>
				<a href="/garden" class="arrow">To the thought garden</a>
				<a href="/about" class="arrow">Learn more about me (Chris)</a>
			</div>
		</section>

		<!-- definition section -->
		<section class="definition hide">
			<hgroup>	
				<h2 class="style-h4">DesignWard</h2>
				<p class="definition">de<span>·</span>​sign<span>·</span>​ward [di<span>-</span>ˈzīn<span>-</span>wərd]</p>
			</hgroup>
			<div class="text">
				<p>
					More than just a literal amalgamation of “Design” and “Woodward”, my last name, DesignWard represents an aspiration.
				</p>
				<p>
					“Ward”, as a suffix, suggests directionality in relation to the root element it is attached to.
				</p>
				<p>
					In this way, the joining of “Design” and “Ward” represents an aspiration to bring design
					 - especially the craft, delight, and attention to human experience that design entails
					  - to everything I do (including this site).
				</p>
				<p>
					As a both an artifact of and vehicle to continue my journey through design and technology, 
					I’ve asked DesignWard (the website) to exist as both something static - a snapshot of the projects I have worked on - 
					and something more ephemeral - a digital garden of thoughts in varying states of completeness.  
				</p>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	@use '@assets/styles/sass/breakpoints.scss' as media;

	section {
		padding-bottom: var(--section-padding);
	}
	section.headline {
		padding-bottom: 40px;
	}
	section.hero {
		--initial-animation-delay: 800ms;
		--link-base-translation: 0 -0.05em;
    	--link-underline-offset: 0px;
		--fly-in-value: 0 1em;

		padding: 0 0 var(--section-padding);

		p {	
			text-wrap: pretty;
			max-width: 1000px;
		}

		.links {
			display: flex;
			flex-direction: column;
			gap: 10px;

			a {
				opacity: 0;
				translate: var(--fly-in-value);

				animation-name: fly-in;
				animation-duration: 500ms;
				animation-timing-function: ease-out;
				animation-delay: calc((var(--initial-animation-delay) * 2) + calc(var(--a-delay)));
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}
			a:first-child {
				--a-delay: 200ms;
			}
			a:nth-child(2) {
				--a-delay: 400ms;
			}
			a:last-child {
				--a-delay: 600ms;
			}
		}
	}
	section.definition {
		--initial-animation-delay: 2400ms;

		max-width: 800px;

		&.hide {
			animation: none;
			opacity: 0;
			content-visibility: auto;
		}
		&.short-delay {
			--initial-animation-delay: 200ms;
		}
		
		hgroup {
			display: flex;
			flex-direction: column;
			gap: 0.1em;

			span {
				color: var(--color-primary);
			}

			p {
				font-family: var(--font-body-alt);
			}
		}
		.text {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		p {
			max-width: unset;
			text-wrap: pretty;
		}
	}

	:global(html.reduce-motion) section {
		--initial-animation-delay: 200ms !important;
	}
	:global(html.reduce-motion) section.hero {
		--fly-in-value: 0;
	}
	:global(html.reduce-motion) section.headline h1.hero span.logo-text {
		max-width: unset;
		animation: none;
	}
	@media (prefers-reduced-motion: reduce) {
		section {
			--initial-animation-delay: 200ms !important;
		}

		section.hero {
			--fly-in-value: 0;
		}

		section.headline h1.hero span.logo-text {
			max-width: unset;
			animation: none;
		}
	}
</style>
