---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
	<main>
        <section>
            <h1>Portfolio</h1>
            <p>Welcome to my portfolio. Please check back later once the projects have populated.</p>
            <a href="/" class="arrow">Back to home</a>
        </section>
    </main>
</Layout> 