/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1;200;300;400;500;600;700;800&display=swap');

/* set custom color vars */
:root {
  --color-primary: #2D3754;
  --color-secondary: #31CDDD;
  --color-offwhite: #FFFFFC;
  --color-white: #F9F9F9;
  --color-black: #121D29;
  --color-text-white: #F4FCFF;
  --color-link-visited: #41708B;
  --color-error: #AE003A;
  --color-accent-yellow: #FFDE88;
  --color-accent-pink-light: #FF4785;
  --color-accent-pink-dark: #FF003C;
  --color-accent-green: #47FF91;
  --color-accent-blue: #02A4FF;
}
#app {
  min-height: 100vh;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: --var(--color-primary) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.75rem;
}

*::-webkit-scrollbar-track {
  width: 0.25rem;
  background: transparent;
  border: 0.25rem solid transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 20px;
  border-left: 0.125rem solid var(--color-offwhite);
  border-right: 0.25rem solid var(--color-offwhite);
}