---
import { Image } from 'astro:assets';

import Layout from '@layouts/Layout.astro';

import JumpCards from '@components/base/JumpCards.astro';
import ExpanderCard from '@components/base/ExpanderCard.astro';
import PageTitle from '@components/base/PageTitle.astro';
import AlertDialog from '@components/content-components/AlertDialog.astro';
import A from '@components/base/A.astro';

import eflLogo from "@assets/images/logos/efl-logo.png";

import { DigitalProjects, RinkaProjects } from "@modules/contentConstants/content";

const rinkaAsCards = RinkaProjects.map(p => {
    return {
        name: p.name,
        url: p.url as string,
        imageUrl: p.imageUrl
    }
})
---

<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((e) => {
            if (e.isIntersecting) {
                e.target?.classList.toggle('fade-in', true);
                e.target?.classList.toggle('show', true);
            } else {
                e.target?.setAttribute('style', '--animation-delay: 100ms;')
            }
        })
    }, {
        threshold: 0.1
    })
    const sections = document.querySelectorAll('section:not(.hero)');
    sections.forEach(s => observer.observe(s));
</script>

<Layout title="Portfolio">
	<main>
        <section class="hero projects show">
            <h1 class="hero">
                <PageTitle maxWidth={9}>Current portfolio</PageTitle>
                <span class="fallback">Current Portfolio</span>
            </h1>
            <p class="style-h3 hero-text fade-in" style="--animation-delay: 700ms;">
                My previous day job at Square has me create interactive web experiences like our 
                <A href="https://developer.squareup.com">Developer Homepage</A>
                and web-apps like our
                <A href="https://squareup.com/square-specialists/directory">Specialist Directory</A>
                and
                <A href="https://squareup.com/partner-offers">Partner Offers</A>
                pages that share a frontend architecture. 
            </p>
            <p class="style-h4 hero-text fade-in" style="margin-top: 0.5em; --animation-delay: 800ms;">
                I am also occassionally asked to build productivity tools such as
                <A href="./figma-plugins">Figma plugins</A> and the like.
            </p>
        </section>
        <section style="--animation-delay: 900ms">
            <div class="projects">
                <hgroup>
                    <h2 id="other-digital-projects">Other digital projects</h2>
                    <p class="small tagline"><em>(Including, but not limited to, my work at Square)</em></p>
                </hgroup>
                <ul>
                    { DigitalProjects.map(proj => (
                        <li>
                            <div>
                                <a 
                                    class={`arrow style-h6 ${proj.url.includes('https') ? 'external' : ''}`} 
                                    href={proj.url as string} 
                                    target={proj.url.includes('https') ? '_blank' : '_self'}
                                >
                                    { proj.name }
                                </a>
                                <p class="">{ proj.tagline }</p>
                            </div>
                        </li>
                    ))}
                </ul>
            </div>
        </section>
        <section class="physical" style="--animation-delay: 1200ms">
            <div class="projects display">
                <div>
                    <h2 id="physical-projects">Physical Projects</h2>
                    <p>
                        While the medium is different from my current day job, my experience as a Design Professional at <A href="https://www.rinka.com" title="RINKA+">RINKA+</A> was 
                        instrumental to where I am now. Here I learned what it means to be a professional in the design field. 
                    </p>
                </div>
                <JumpCards cards={rinkaAsCards} />
                <p class="jump-cards-note x-small" style="max-width: 45rem;">
                    <strong><em>Note:</em></strong> Learn more about the above card component <A href="../garden/css-jumping-cards#how-i-did-it">here</A>.
                </p>
                <ExpanderCard name="rinka-projects" cards={rinkaAsCards} />
            </div>
        </section>
        <section class="podcast" style="--animation-delay: 100ms">
            <div class="projects">
                <h2 id="podcast">
                    Empathic Futures Lab
                </h2>
                <div class="content">
                    <Image src={eflLogo} alt="Empathic Futures Lab" width={216} />
                    <div class="text">
                        <p>
                            I used to co-host a podcast with <A href="https://www.linkedin.com/in/christian-pepper-ra-17bb0974/">Christian Pepper</A> called 
                            Empathic Futures Lab. Over the show's 34 episode run - ending, finally, in 2019 - we explored topics across the displines of design, design technology, and design fiction.
                        </p>
                        <p>
                            We also put out a couple fun projects under the Empathic Futures Lab moniker including this one called <A href="https://empathicfutures.wordpress.com/portfolio/h-e-l-l-o-w-o-r-l-d/">[HELLOWORLD]</A>
                            that explored a future AI-smart home. 
                        </p>
                        <a class="arrow external" href="https://empathicfutures.podbean.com/" target="_blank">Listen here</a>
                    </div>
                </div>
            </div>
        </section>
        <AlertDialog style="--animation-delay: 100" tag='section'>
            <p>Or, if you're looking for more of a traditional take home portfolio, this one linked below will give you a good overall sense of my work.</p>
            <p>I put it together in application for UIUC's Alumni Baker Fellowship which I applied for but did not receive.</p>
            <a class="arrow" href={"https://drive.google.com/file/d/1kFVXpHp7grckMkNgv4ZpryqUFR-eY9NY/view?usp=sharing"} target="_blank">View it here</a>
        </AlertDialog>
    </main>
</Layout> 

<style lang="scss">
    @use '@assets/styles/sass/breakpoints.scss' as media;

    main {
        display: flex;
        flex-direction: column;
        gap: 5rem;

        padding-bottom: 100px;
    }

    h1 {
        .fallback {
            display: none;
            content-visibility: hidden;
            line-height: 1;
        }
        
        @media screen and (max-width: 400px) {
            line-height: 1;

            :global(.page-title) {
                display: none;
                content-visibility: hidden;
            }
            .fallback {
                display: inline-block;
                content-visibility: auto;
            }
        }
    }

    section:not(.show)>*:first-child {
        opacity: 0;
        &.display {
            display: none;
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    @include media.at('medium') {
        h2 {
            margin-bottom: 0.5rem;
        }
        hgroup h2 {
            margin-bottom: 0rem;
        }
    }

    .physical {
        min-height: 500px;
    }

    @include media.until('large') {
        .jump-cards-note, :global(.jump-container) {
            display: none;
            content-visibility: hidden;
        }
    }
    @include media.at('large') {
        :global(.expander-container) {
            display: none;
            content-visibility: hidden;
        }
    }

    h1 {
        margin-bottom: 1.5rem;
    }
    .hero-text {
        max-width: 62rem;
    }

    .podcast .content {
        display: flex;
        flex-wrap: nowrap;
        gap: 2em;

        .text {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        :global(img) {
            box-shadow: var(--shadow-image)
        }

        @include media.until('medium') {
            :global(img) {
                display: none;
            }
        }
    }

    hgroup {
        padding-bottom: 1rem;
    }

    :global(.dialog:not(.fade-in)) {
        opacity: 0;
        animation: none;
    }
</style>