---
import Layout from '@layouts/Layout.astro';

import JumpCards from '@components/base/JumpCards.astro';
import ExpanderCard from '@components/base/ExpanderCard.astro';

import { DigitalProjects, RinkaProjects } from "@modules/contentConstants/content";
import A from '@components/base/A.astro';
import AlertDialog from '@components/content-components/AlertDialog.astro';

const rinkaAsCards = RinkaProjects.map(p => {
    return {
        name: p.name,
        url: p.url as string,
        imageUrl: p.imageUrl
    }
})
---

<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((e) => {
            if (e.isIntersecting) {
                e.target?.classList.toggle('fade-in', true);
                e.target?.classList.toggle('show', true);
            }
        })
    })
    const sections = document.querySelectorAll('section:not(.hero)');
    sections.forEach(s => observer.observe(s));
</script>

<Layout title="Portfolio">
	<main>
        <section class="hero projects show">
            <h1>Current portfolio</h1>
            <p class="style-h4 hero-text">
                My day job at Square has me create interactive web experiences like our 
                <A href="https://developer.squareup.com">Developer Homepage</A>
                and web-apps like our
                <A href="https://squareup.com/square-specialists/directory">Specialist Directory</A>
                and
                <A href="https://squareup.com/partner-offers">Partner Offers</A>
                pages that share a frontend architecture. 
            </p>
            <p class="style-h4 hero-text" style="margin-top: 0.5em;">
                I am also occassionally asked to build productivity tools such as
                <A href="./figma-plugins">Figma plugins</A> and the like.
            </p>
        </section>
        <section style="--animation-delay: 500ms">
            <div class="projects">
                <hgroup>
                    <h2 id="other-digital-projects">Other digital projects</h2>
                    <p class="small tagline"><em>(Including, but not limited to, my work at Square)</em></p>
                </hgroup>
                <ul>
                    { DigitalProjects.map(proj => (
                        <li>
                            <div>
                                <a 
                                    class="arrow style-h6" 
                                    href={proj.url as string} 
                                    target={proj.url.includes('https') ? '_blank' : '_self'}
                                >
                                    { proj.name }
                                </a>
                                <p class="">{ proj.tagline }</p>
                            </div>
                        </li>
                    ))}
                </ul>
            </div>
        </section>
        <section class="physical" style="--animation-delay: 500ms">
            <div class="projects display">
                <div>
                    <h2 id="physical-projects">Physical Projects</h2>
                    <p>
                        While the medium is different from my current day job, my experience as a Design Professional at <A href="https://www.rinka.com" title="RINKA+">RINKA+</A> was 
                        instrumental to where I am now. Here I learned what it means to be a professional in the design field. 
                    </p>
                </div>
                <JumpCards cards={rinkaAsCards} />
                <p class="jump-cards-note x-small" style="max-width: 45rem;">
                    <strong><em>Note:</em></strong> Learn more about the above card component <A href="../garden/css-jumping-cards#how-i-did-it">here</A>.
                </p>
                <ExpanderCard cards={rinkaAsCards} />
            </div>
        </section>
        <AlertDialog style="--animation-delay: 500ms" tag='section'>
            <p>Or, if you're looking for more of a traditional take home portfolio, this one linked below will give you a good overall sense of my work.</p>
            <p>I put it together in application for UIUC's Alumni Baker Fellowship which I applied for but did not receive.</p>
            <a class="arrow" href={"https://drive.google.com/file/d/1kFVXpHp7grckMkNgv4ZpryqUFR-eY9NY/view?usp=sharing"} target="_blank">View it here</a>
        </AlertDialog>
    </main>
</Layout> 

<style lang="scss">
    @use '@assets/styles/sass/breakpoints.scss' as media;

    main {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        padding-bottom: 100px;
    }

    section:not(.show)>*:first-child {
        opacity: 0;
        &.display {
            display: none;
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    @include media.until('large') {
        .jump-cards-note, :global(.jump-container) {
            display: none;
            content-visibility: hidden;
        }
    }
    @include media.at('large') {
        :global(.expander-container) {
            display: none;
            content-visibility: hidden;
        }
    }

    .hero-text {
        max-width: 62rem;
        line-height: 2em;
    }

    hgroup {
        padding-bottom: 1rem;
    }
</style>