@import './reset.css';
@import './base.css';
@import './animations.css';
@import './utilities.css';
@import './components.css';

@font-face {
    font-family: 'Gorton-Perfected VF';
    src: url('/fonts/GortonPerfectedVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Comic Shanns';
    src: url('/fonts/comic shanns.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --font-title: "Sofia Sans", sans-serif;
    --font-fun: "Gorton-Perfected VF", Arial, sans-serif;
    --font-comic: "Comic Shanns", Menlo, "Lucida Console", monospace;
    --font-body: "Montserrat", sans-serif;
    --font-body-alt: "Montserrat Alternates", sans-serif;

    font-size: 16px;
    line-height: 130%;

    /* font steps per Utopia.fyi */
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.2rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);

    --transition-duration-standard: 250ms;
    --transition-easing-standard: ease-in;

    --initial-animation-delay: 200ms;

    color-scheme: dark;
    
    --color-offwhite: #FFFAFA;
    --color-offblack: #191D24;
    --color-textblack: color-mix(in srgb, var(--color-offblack) 90%, var(--color-offwhite) 10%);
    
    --color-primary: #FF4785;
    --color-secondary: light-dark(#D78F09, #FCDE73);
    --color-accent-primary: light-dark(#019FCB, #01BAEF);
    --color-accent-blue-off: color-mix(in srgb, #01BAEF 30%, var(--color-offblack) 90%);
    --color-primary-muted: color-mix(in srgb, var(--color-primary) 50%, var(--color-background) 70%);
    --color-error: #AE003A;
    
    --color-text: light-dark(var(--color-textblack), var(--color-offwhite));
    --color-background: light-dark(var(--color-offwhite), var(--color-offblack));
    --color-background-dark: light-dark(var(--color-offblack), #101819);
    
    --color-surface: rgba(255, 255, 255, 0.1);
    
    --color-code-text: #8BE9FD;
    --color-code-background: #282A36;
    
    --color-link: var(--color-secondary);
    --color-link-underline: var(--color-primary);
    --color-link-external: var(--color-accent-primary);
    
    --color-pink-white: color-mix(in srgb, var(--color-primary) 100%, white 20%);
    
    --font-weight: 400;

    --shadow-color: color-mix(in srgb, var(--color-offblack) 35%, transparent 70%);
    --shadow-header: drop-shadow(2px 0px 8px var(--shadow-color));
    --shadow-image: 1px 2px 6px var(--shadow-color);

    --radius-image: 4px;

    --link-base-translation: 0 0;
    --link-underline-offset: -2px;

    --spacing: 3rem;

    --padding-edge: 1.5rem;
    --section-padding: 160px;
    @media screen and (min-width: 1024px) {
        --padding-edge: 2rem;
        --section-padding: 200px;
    }

    --border-width: 1px;
    @media screen and (min-width: 740px) {
        --border-width: 2px;
    }
    @media screen and (min-width: 1024px) {
        --border-width: 3px;
    }
}
:root.light {
    color-scheme: light;
}
@layer reset, animations, base, components, utilities;