@import './reset.css';
@import './base.css';
@import './animations.css';
@import './utilities.css';
@import './components.css';

@font-face {
    font-family: 'Gorton-Perfected VF';
    src: url('/fonts/GortonPerfectedVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --font-title: "Sofia Sans", sans-serif;
    --font-fun: "Gorton-Perfected VF", Arial, sans-serif;
    --font-body: "Montserrat", sans-serif;
    --font-body-alt: "Montserrat Alternates", sans-serif;

    font-size: 16px;
    line-height: 130%;
    /* font steps per Utopia.fyi */
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.2rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);

    --transition-duration-standard: 250ms;
    --transition-easing-standard: ease-in;

    --shadow-color: color-mix(in srgb, var(--color-primary) 30%, white 15%);
    --shadow-header: drop-shadow(2px 0px 8px var(--shadow-color));
    --shadow-image: drop-shadow(3px 3px 8px var(--shadow-color));

    --link-base-translation: 0 0;
    --link-underline-offset: -2px;

    --padding-edge: 1.5rem;
    --section-padding: 160px;
    @media screen and (min-width: 1024px) {
        --padding-edge: 2rem;
        --section-padding: 200px;
    }

    --border-width: 1px;
    @media screen and (min-width: 740px) {
        --border-width: 2px;
    }
    @media screen and (min-width: 1024px) {
        --border-width: 3px;
    }
    
    --initial-animation-delay: 200ms;
}
html {
    --color-offwhite: #FFFAFA;
    --color-offblack: #191D24;

    --color-primary: #FF4785;
    --color-secondary: #FCDE73;
    --color-accent-primary: #01BAEF;
    --color-accent-blue-off: color-mix(in srgb, #01BAEF 30%, var(--color-offblack) 90%);
    --color-primary-muted: color-mix(in srgb, var(--color-primary) 50%, var(--color-background) 70%);
    --color-error: #AE003A;
    
    --color-text: var(--color-offwhite);
    --color-background: var(--color-offblack);
    --color-background-dark: #101819;

    --color-link: var(--color-secondary);
    --color-link-underline: var(--color-primary);
    --color-link-external: color-mix(in srgb, var(--color-text) 25%, var(--color-accent-primary) 80%);

    --color-pink-white: color-mix(in srgb, var(--color-primary) 100%, white 20%);

    --font-weight: 300;

    &.light {
        --color-primary: #FF4785;
        --color-secondary: #01BAEF;
        --color-accent-primary: #00ff91;

        --color-text: color-mix(in srgb, var(--color-offblack) 90%, var(--color-offwhite) 10%);
        --color-background: var(--color-offwhite);
        --color-background-dark: var(--color-offblack);

        --font-weight: 400;
    }
}

@layer reset, animations, base, components, utilities;