@font-face {
    font-family: 'Gorton-Perfected VF';
    src: url('/fonts/GortonPerfectedVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --color-offwhite: #F9F9F9;
    --color-background: #FFFFFC;
    --color-primary: #2D3754;
    --color-secondary: #31CDDD;
    --color-accent-primary: #FF4785;
    --color-accent-red: #FF003C;
    --color-accent-yellow: #FFDE88;
    --color-accent-green: #47FF91;
    --color-error: #AE003A;

    --color-text: #121D29;
    --color-text-white: #F4FCFF;
    --color-link: #02A4FF;
    --color-link-visited: #41708B;

    --font-title: "Gorton-Perfected VF", Arial, sans-serif;
    --font-body: "Montserrat", sans-serif;
    --font-body-alt: "Montserrat Alternates", sans-serif;

    font-size: 16px;
    line-height: 130%;
    /* font steps per Utopia.fyi */
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);

    --shadow-color: color-mix(in srgb, var(--color-primary) 30%, white 15%);
    --shadow-header: drop-shadow(2px 0px 8px var(--shadow-color));
    --shadow-image: drop-shadow(3px 3px 8px var(--shadow-color));
}
html {
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--color-text);
}
@media screen and (min-width: 740px) {
    html {
        font-weight: 300;
    }
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    
        background-color: color-mix(in srgb, var(--color-secondary) 15%, white);
}
a {
    font-family: var(--font-body-alt);
    font-size: var(--step-0);
    font-weight: 500;
    color: var(--color-link-visited);
    text-decoration: none;

    &:visited {
        color: var(--color-link-visited);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}
h1.hero {
    font-size: var(--step-5);
    font-weight: 500; 
}
h1 {
    font-size: var(--step-4);
    font-weight: 500;
    line-height: 140%
}
h2 {
    font-size: var(--step-3);
    font-weight: 500;
    line-height: 140%
}
h3 {
    font-size: var(--step-2);
    font-weight: 500;
    line-height: 135%
}
h4 {
    font-size: var(--step-1);
    font-weith: 500;
    line-height: 135%
}

p {
    font-size: var(--step-0);
}
p.small, a.small {
    font-size: var(--step--1);
}
p.x-small a.x-small {
    font-size: var(--step--2);
}
a.white, a.visited {
    color: var(--color-text-white);
    text-decoration: underline;
}

.arrow {
    h1&, h2&, h3&, h4&, h5&, p&, a& {
        display: inline-flex;
        align-items: center;
        
        &::after {
            content: "→";
            display: inline-flex;
            padding-left: clamp(4px, 0.2em, 10px);
            font-weight: inherit;
            font-family: var(--font-title);
        }

        &:hover {
            &::after {
                animation-name: wiggle-x;
                animation-duration: 1000ms;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
        }
    }
}
a:not(.arrow):not(:has(img,svg)) {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        
        height: 2px;
        width: 0%;
        background-color: var(--color-primary);

        transition: width 200ms ease-in;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

@keyframes wiggle-x {
    from {
        translate: 0% 0;
    }
    50% {
        translate: clamp(2px, 0.5em, 10px) 0;
    }
    to {
        translate: 0% 0;
    }
}